* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins";
}

body {
	background-color: #E6E6EA;
}


#TwoDForLife {
    transition: transform 0.5s;
}

#TwoDForLife:hover {
    transform: scale(1.1);
}

#btnCalcularIMC {
    background-color: #C0E0DE;
    border-color: #4f7cac;
}

h2, table, section, img {
    border-radius:5px;
}

input, button {
    border-radius:5px;
}

h1 {
	color: #C0E0DE;
	font-size: 3rem;
}

tbody,
th,
tr {
	color: #C0E0DE;
	background-color: #4f7cac;

}


h2 {
	color: #4f7cac;
	border: 0.1rem solid #4f7cac;
	width: auto;
	background-color: #C0E0DE;
	text-align: center;
}

p {
	text-align: justify;
}


header {
	padding: 3rem;
	background-color: #4f7cac;
	text-align: center;
}

main {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

section {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

section[class="lado"] {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	gap: 20rem;
}

section[class="sinopse"] {
	font-size: 1.2rem;
}

section[class="direita"] {
	text-align: right;
	flex: 1;
	padding: 10px;
	;
}
#calimc > details {
    display: flex;          
    flex-direction: row;   
    align-items: flex-start;
    gap: 20px;              
}


img[class="imgc"]{
	height: auto;
	max-width: 300px;
	flex-direction: row;}





section[class="sobe"] {
	flex: 3;
	text-align: left;
	padding: 10px;
}

section[class="feedback"] {
	border: 0.2rem solid #C0E0DE;
	background-color: #4f7cac;
	color: #C0E0DE;
	margin: 0;
	padding: 0;
	flex-direction: column;
	gap: 0;
}

section[class="rodape"] {
	background-color: #4f7cac;
	color: #C0E0DE;
	text-align: center;

}

img[class="imc"] {
	display: block;
	margin: 0 auto;
	width: 600px;
	height: 400px;
}

table {
	margin: 0 auto;
	border-collapse: collapse;
	text-align: center;
}

p[class="rodape"] {
	text-align: center;
}

footer {
	padding: 5rem;
}

strong {
	color: #4f7cac;
}


ul[class="direita"] {
	list-style: inside;
}

img {
	width: 300px;
	height: 400px;
	margin: 0 auto;
	display: block;
}

figcaption {
	text-align: center;
}


input[type="radio"],
input[type="checkbox"] {
	accent-color: rgb(37, 202, 231);
}
legend{text-align: center;}